#footer{
    display: none !important;
}


/* Sidebar */
#chat-sidebar {
    transition: all 0.3s ease;
    height: calc(100dvh - 72px);
    background-color: #f8f9fa;
    overflow-y:hidden;
}

#chat-list {
    overflow-y: scroll;
    height: calc(100dvh - 124px);
}
#chat-list .list-group-item {
    padding: 10px 12px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    margin-bottom: 5px;
    background-color: transparent;
    transition: background-color 0.2s ease;

}

    #chat-list .list-group-item:hover {
        background-color: #e9ecef;
    }

    #chat-list .list-group-item.active {
        background-color: #007bff !important;
        color: white;
        font-weight: 500;
    }

.list-group-item.unread {
    background-color: #e6f2ff; /* xanh nhạt */
    font-weight: bold;
}
.time-separator {
    font-size: 16px;
    font-weight: 500;
    color: #666;
    padding: 4px 12px;
    border-radius: 12px;
    margin-left: auto;
    text-align: center;
}




.chat-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

    .chat-item img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        object-fit: cover;
    }

    .chat-item .chat-info {
        flex-grow: 1;
        overflow: hidden;
    }

    .chat-item .chat-name {
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .chat-item .last-message {
        font-size: 13px;
        color: #606770;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

#chat-list .list-group-item.active .chat-name,
#chat-list .list-group-item.active .last-message {
    color: white;
}

#chat-header>*{
    cursor: pointer;
}


/* Message container */
#message-container .message {
    margin-bottom: 5px;
    max-width: 75%;
    display: flex;
    align-items: flex-start;
    gap: 8px;
}





#message-input {
    resize: none;
    height: 49px;
    overflow: hidden; /* Ẩn thanh cuộn */
}

#message-container .message.current-user {
    margin-left: auto;
    flex-direction: row-reverse;
}

#message-container .message .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
#message-container .message.current-user .time {
    text-align: right;
}

#message-container .message .content {
    padding: 8px 12px;
    border-radius: 18px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    font-size: 14px;
    overflow-wrap: anywhere;
}

/* =========== CURRENT USER ============ */
.message.current-user.single-in-group .content {
    border-radius: 16px !important;
}

.message.current-user.first-in-group .content {
    border-radius: 16px 16px 4px 16px !important; /* bo trên + phải + dưới trái */
}

.message.current-user.middle-in-group .content {
    border-radius: 16px 4px 4px 16px !important; /* ít bo */
}

.message.current-user.last-in-group .content {
    border-radius: 16px 4px 16px 16px !important; /* bo dưới + phải */
}
/* =========== OTHER USER ============ */

.message.single-in-group .content {
    border-radius: 16px !important;
}

.message.first-in-group .content {
    border-radius: 16px 16px 16px 4px !important; /* bo trên + phải + dưới trái */
}

.message.middle-in-group .content {
    border-radius: 4px 16px 16px 4px !important; /* ít bo */
}

.message.last-in-group .content {
    border-radius: 5px 16px 16px 16px !important; /* bo dưới + phải */
}



    #message-container .message .content a{
        color: black;
        text-decoration: underline;
    }

    #message-container .message.current-user .content {
        background-color: #007bff;
        color: #fff;
    }



#message-container .message .sender {
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 2px;
}

#message-container .message.current-user .sender {
    text-align: right;
}

#message-container .message .time {
    font-size: 11px;
    color: #999;
    margin-top: 3px;
}
#chat-container {
    position: relative;
    height: calc(100dvh - 72px);
    background-color: #fff;
}





/* Mobile adjustments */
@media (max-width: 767.98px) {
    #chat-sidebar {
        position: absolute;
        z-index: 1000;
        width: 100%;
        background-color: #f8f9fa;
        box-shadow: 2px 0 5px rgba(0,0,0,0.2);
        height: calc(100dvh - 49.6px) !important; /* Full height minus header */
    }
    #chat-container {
        height: calc(100dvh - 49.6px) !important; /* Full height minus header */
    }

    #chat-sidebar:not(.show) {
        transform: translateX(-100%);
    }

        #chat-sidebar.show {
            transform: translateX(0);
        }

    .col-md-8 {
        width: 100%;
    }


    #send-form {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    #message-container {
        padding-bottom: 90px !important; /* Đảm bảo không bị che khuất bởi form gửi tin nhắn */
    }

    #typing-indicator {
        margin-bottom: 90px !important;
    }

}
