.view-detail {
    cursor: pointer;
    text-decoration: none;
}

#sourceCodeEditor {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
}

#resultContent {
    width: 100%;
    height: 200px;
    resize: vertical;
}

.modal-xl {
    max-width: 90%;
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    text-align: center;
    font-weight: 700;
}

.avatar-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.rank {
    padding: 5px 10px;
    cursor: pointer;
}

table a {
    color: darkblue;
}

    table a:hover {
        text-decoration: underline;
    }


table td{
    align-content:center;
    font-size: 20px;
}

table td:last-child {
    text-align-last: center;
}

    table td:nth-last-child(-n+2) {
        text-align-last: center;
    }