@{
    ViewData["Title"] = "Bảng Xếp Hạng Coder";
}

@section Links {
    <link rel="stylesheet" href="~/css/ranking-user-list.css?v=1.0.0" />
    <style>
        .rank-icon-img {
            width: 70px !important;
            height: 70px !important;
        }

            .rank-icon-img.supreme {
                width: 80px !important;
                height: 80px !important;
            }
    </style>
}

<div id="codepad" class="m-5 flex-center flex-column">
    <h1 class="title text-center">
        <b>BẢNG&nbsp;XẾP HẠNG&nbsp;CODER</b>
    </h1>

    <div class="container mt-3 mb-3 table-responsive list">
        <table id="table-data" class="table table-sm table-hover table-border table-striped ml-5 mr-3">
            <thead>
                <tr class="table-dark">
                    <th></th>
                    <th>Username</th>
                    <th>Họ và Tên</th>
                    <th>Ngôn ngữ</th>
                    <th>Điểm</th>
                    <th>Rank</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/lib/DataTables/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#table-data').DataTable({
                "processing": true,
                "serverSide": true,
                "searching": true,
                "ajax": {
                    "url": '@Url.Action("_GetRankingList", "Rank")',
                    "data": function (d) {
                        d.keyword = $('input[type="search"]').val();
                    },
                    "type": "POST",
                    "dataSrc": function (json) {
                        return json.data;
                    }
                },
                "pageLength": 10,
                "lengthMenu": [10, 25, 50, 100],
                "order": [[5, "desc"], [4, "desc"]], // Default sort: Rank (col 5) desc, then Point (col 4) desc
                "columns": [
                    {
                        "data": "avatar",
                        "render": function (data, type, row) {
                            if (!data) {
                                return `<a href="/userinfo/details/${row.id}">
                                            <img src="/assets/images/avartardefault.jpg" class="avatar-img" alt="Default Avatar"  loading="lazy"/>
                                        </a>`;
                            }
                            // Tạo blob URL
                            const byteCharacters = atob(data);
                            const byteNumbers = new Array(byteCharacters.length);
                            for (let i = 0; i < byteCharacters.length; i++) {
                                byteNumbers[i] = byteCharacters.charCodeAt(i);
                            }
                            const byteArray = new Uint8Array(byteNumbers);
                            const blob = new Blob([byteArray], { type: 'image/jpeg' });
                            const blobUrl = URL.createObjectURL(blob);

                            return `<a href="/userinfo/details/${row.id}">
                                        <img src="${blobUrl}" class="avatar-img" alt="Avatar" loading="lazy"/>
                                    </a>`;
                        },

                        "orderable": false // Avatar column is not sortable
                    },
                    {
                        "data": "username",
                        "render": function (data, type, row) {
                            return `<a href="/userinfo/details/${row.id}" class="view-detail">${data}</a>`;
                        }
                    },
                    {
                        "data": "fullname",
                        "render": function (data, type, row) {
                            return `<a href="/userinfo/details/${row.id}" class="view-detail">${data}</a>`;
                        }
                    },
                    { "data": "programLanguage" },
                    { "data": "point" },
                    {
                        "data": "rankName",
                        "render": function (data, type, row) {
                            return `
                                <span class="rank-text ${row.rankCode}">${data} </p>
                            `;
                        }
                    },
                    {
                        "data": "rankName",
                        "render": function (data, type, row) {
                            return `
                                <img class="rank-icon-img ${row.rankCode}" src="/assets/rankicon/${row.rankCode}.png" alt="${data}" title="${data}" data-id="${row.rankId}"/>


                            `;
                        },
                        "orderable": false // Rank icon column is not sortable"
                    },

                ],
                "language": {
                    "emptyTable": "Không có dữ liệu",
                    "info": "Hiển thị _START_ đến _END_ trong tổng số _TOTAL_ mục",
                    "infoEmpty": "Hiển thị 0 đến 0 trong tổng số 0 mục",
                    "infoFiltered": "(được lọc từ tổng số _MAX_ mục)",
                    "lengthMenu": "Hiển thị _MENU_ mục",
                    "search": "Tìm kiếm:",
                    "zeroRecords": "Không tìm thấy kết quả"
                },
            });



        });
         $(document).on('click', '.rank-icon-img', function(event,element) {
                window.location.href = `/rank?id=` + $(this).data('id');
         });
    </script>
}