@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Đổi mật khẩu";

}


<div class="container_login" id="loginContainer">
    <form asp-action="ChangePasswordProfile" asp-controller="User" method="post" class="form_login mt-3">
        <div class="text-center">
            <div><img width="20" src="~/assets/icons/logo.png" alt=""></div>
            <b class="title_login">HM Coding</b>
        </div>
        <div class="textbox_login">
            <div class="form-floating mt-4">
                <input id="oldpassword" name="oldpassword" class="form-control" placeholder="Nhập mật khẩu" type="password" />
                <label for="oldpassword">Nhập mật khẩu cũ</label>
            </div>

            <div class="form-floating mt-4">
                <input id="password" name="password" class="form-control" placeholder="Nhập mật khẩu mới" type="password" />
                <label for="password">Nhập mật khẩu mới</label>
            </div>

            <div class="form-floating mt-4">
                <input id="retypepassword" class="form-control" placeholder="Nhập lại mật khẩu mới" type="password" />
                <label for="retypepassword">Nhập lại mật khẩu mới</label>
            </div>
        </div>
            <small class="text-danger alert">@ViewBag.Alert</small>

        <div class="text-center mt-3 mb-3">
            <button id="login" type="submit" class="btn btn-primary p-3" style="padding: 20px 16px; color: white;">Đổi mật khẩu</button>
        </div>
    </form>
</div>


@section Scripts {
    <script>
        $('form').submit(function (event) {
            const password = $('#password').val();
            const retypePassword = $('#retypepassword').val();
            if (password != retypePassword) {
                event.preventDefault();
                $(".alert").text("Mật khẩu nhập lại không khớp!!!");
            }
        });
    </script>

}

