
@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Xác minh";
}
    <div class="container_login" id="loginContainer">
        <form asp-action="VerifyAccount" asp-controller="User" method="post" class="form_login mt-3">
            <div class="text-center">
                <div><img width="20" src="~/assets/icons/logo.png" alt=""></div>
            <b class="title_login">HM Coding</b>
            </div>
            <div class="textbox_login">

                <span>Mã OTP đã gửi đến email @ViewBag.Email</span>
                <div class="form-floating mt-4">
                    <input id="otp" name="otp" class="form-control" required />
                    <label for="otp">Mã OTP</label>
                </div>
                <span class="text-danger">@ViewBag.Alert</span>
            </div>
            <div class="mt-3 text-right">
                <a class="text-left" id="forgotPasswordLink" asp-action="Login" asp-controller="User">Quay lại</a>
            </div>
            <div class="text-center mt-3 mb-3">
                <button id="login" type="submit" class="btn btn-primary p-3" style="padding: 20px 16px; color: white;">Xác nhận</button>
            </div>

        </form>
    </div>


